
/*.floor-col{
    float:none;
    display:inline-block;
    white-space:normal;
    vertical-align:top;
}*/

/*a{
    font-size:15px;
    line-height:1;
}*/

.floor-titles{
    height: 45px;
    visibility:hidden;
}

.averages{
    background-color: #11A8AB;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    overflow-x:hidden;
}

h1 {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

h2{
    font-size: 18px;
}

#placeholder {
    width: 90%px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    background-color: #11A8AB;
}


.slideContainer {
    overflow-x: scroll;
    white-space: nowrap;
    background-color:#1f253d;
    height:190px;
}

.slide {
    display: inline-block;
    width: 35%;
    white-space: normal;
}
/*.floors-panel{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;

}*/

/*@media (min-width:768px) {
    .container {
        width:100%;
    }
    #main-content{
        min-height: 100%;
        height: auto;
        
    }
    #main-content > .row {
        overflow-x:scroll;
        overflow-y:hidden;
        white-space:nowrap;
    }
    #main-content > .row [class*="col-lg"], #main-content > .row [class*="col-md"], #main-content > .row [class*="col-sm"] {
        float:none;
        display:inline-block;
    }
*/