.floors{
    background-color: #1f253d;
}

.averages{
    background-color: #11A8AB;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

h1 {
    width: 450px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

h2{
    font-size: 18px;
}

#placeholder {
    width: 90%px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    background-color: #11A8AB;
}