<!DOCTYPE html>
<html lang="eng">

	<head>
		<title>FloorCast</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
		<!-- Fontawesome Icon font -->
		<link rel="stylesheet" href="/static/global.css">
		<link rel="stylesheet" href="/static/index.css">
		<link rel="stylesheet" href="/static/about.css">
	</head>


	<body>

	<!-- header-->
	<header>
		<div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/" style="float:left"> &lt; Back </a>
                    
                    <br>
                </div>
            </div>
        </div>

		<div class="col-xs-12">
			<div class="jumbotron">
				<div class="container-fluid">
				<h1><b>Introducing FloorCast</b></h1>
				<h2>Finding a study space in the library is never going to be the same....</h2>
				</div>
			</div>
		</div>
	</header>


	<!--icon intro-->

	<!--search bar: icon 1-->
		<div>
			<div class="row">
				<div class="container-fluid">
					<div class="col-xs-4 text-center">
						<span class="glyphicon glyphicon-search gi-3x" aria-hidden="true"></span></div>
					<div class="col-xs-8">
						<div class="icon-content">
						<h2>Search an entire library from wherever you are</h2><p> FloorCast helps you find the perfect study spot without having to physically search. Search by library, floor and region.</p></div>
					</div>
				</div>
			</div>
		</div>

	<!--map-pinpoint: icon 2-->
		<div>
			<div class="row">
				<div class="container-fluid">
					<div class="col-xs-4 text-center">
						<span class="glyphicon glyphicon-map-marker gi-3x" aria-hidden="true"></span></div>
					<div class="col-xs-8">
						<div class="icon-content">
						<h2>Location data captured only when connected to MWireless</h2><p>Whether you are connected to MWireless on your phone, computer or both, your location is only accounted for once when calculating the current occupancy. </p></div>
					</div>
				</div>
			</div>
		</div>

		
		<!--clock: icon 3-->
		<div>
			<div class="row">
				<div class="container-fluid">
					<div class="col-xs-4 text-center">
						<span class="glyphicon glyphicon-time gi-3x" aria-hidden="true"></span></div>

					<div class="col-xs-8">
						<!--<p><b>Real-time statistics updated every 5 minutes.</b>We know your timeIn order to provide the most accurate statistics</p>-->
						<div class="icon-content">
						<h2>School is long, and time is fleeting</h2><p>Real-time library statistics are updated every 5 minutes. In addition to real-time statistics, FloorCast provides hourly and weekly average graphs for those who want to know what times are best to go to a library.</p></div>
					</div>
				</div>
			</div>
		</div>

		<!--phone: icon 4-->
		
			<div class="row">
				<div class="container-fluid">
					<!--<div class="icon-content">-->
						<div class="col-xs-4 text-center">
							<span class="glyphicon glyphicon-phone gi-3x" aria-hidden="true"></span></div>
						<div class="col-xs-8">
							<div class="icon-content">
							<h2>Mobile view only</h2>
							<p>Our app is designed for you to enjoy on your phone only, but there might be changes down the road. Make sure you are connected to MWireless on your devices to help improve our calculations.</p></div>
							</div>
					</div>
				</div>
			</div>

<!--contact info/about section-->
		<div class="row">
			<div class="container-fluid">
				<div class="col-xs-12 text-center title-bar">
				<!--	<h2 class="title">Welcome to miStudySpace</h2>-->
					<span class="border"></span>
				</div>
			</div>
		</div>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     
     ga('create', 'UA-71348317-1', 'auto');
     ga('send', 'pageview');
     
    </script>

	<!--footer with contact info (poss do email contact box-->

    <!--FOOTER-->

    <footer>
        <div class="row">
        	<div class="container-fluid">
                <div class="col-xs-12 text-center">
                    <span class="copyright"> &copy; FloorCast
                    </span>
                </div> 
            </div>
        </div>
    </footer>
 
	</body>


</html>
