<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>miStudySpace WORK IN PROGRESS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/global.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>

    <body>
        <!--<nav class="navbar navbar-inverse">
         <div class="container-fluid">
         <div class="navbar-header">
         <a class="navbar-brand" href="#">miStudySpace</a>
         </div>
         </div>
         </nav>-->
        <div class="row">
            <div class="container-fluid">
                <div class="col-xs-12 text-center title-bar">
                    <h2 class="title">miStudySpace</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="col-xs-6">
                  <a href="/library?name=shapiro">
                    <img src="/static/Shapiro.png" width="100%">
                </a>
                </div>
                <div class="col-xs-6">
                    <img src="/static/Dude.png" width="100%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="col-xs-6">
                    <img src="/static/Hatcher.png" width="100%">
                        </div>
                <div class="col-xs-6">
                    <img src="/static/LawLib.png" width="100%">
                        </div>
            </div>
        </div>
        
        
        
    </body>


    <footer style="position:absolute; bottom:0">
            &copy; StudySpace
    </footer>
</html>
