<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>miStudySpace</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/global.css">
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" href="/static/rotating-card.css">
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    </head>

    <body>
        <!--<nav class="navbar navbar-inverse">
         <div class="container-fluid">
         <div class="navbar-header">
         <a class="navbar-brand" href="#">miStudySpace</a>
         </div>
         </div>
         </nav>-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center title-bar">
                    <h2 class="title">miStudySpace</h2>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-6">
                        <div class="card-container manual-flip">
                            <div class="card">
                                <div class="front">
                                    <a href="/library?name=shapiro">
                                        <img src="/static/Shapiro.png" width="100%">
                                    </a>
                                    <button class="btn btn-simple" onclick="rotateCard(this)">Hours &gt;</button>
                                </div>
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">Shapiro Undergrad Library</h5>
                                    </div> 
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Library Hours: 24/7</h4>
                                            <h4 class="text-center">Bert's Cafe Hours:</h4>
                                            <ul>
                                                <li>Mon-Thurs: 8am-1am</li>
                                                <li>Fri: 8am-5pm</li>
                                                <li>Sat: 12pm-5pm</li>
                                                <li>Sun: 11am-1am</li>
                                            </ul> 
                                        </div>
                                    </div>
                                    <button class="btn btn-simple" onclick="rotateCard(this)">&lt; Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="card-container manual-flip">
                            <div class="card">
                                <div class="front">
                                    <a href="/library?name=shapiro">
                                        <img src="/static/Dude.png" width="100%">
                                    </a>
                                    <button class="btn btn-simple" onclick="rotateCard(this)">Hours &gt;</button>
                                </div>
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">Duderstadt Library</h5>
                                    </div> 
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Library Hours: 24/7</h4>
                                            <h4 class="text-center">Mujo's Cafe Hours:</h4>
                                            <ul>
                                                <li>Mon-Thurs: 7am-2am</li>
                                                <li>Fri: 7am-6pm</li>
                                                <li>Sat: Closed</li>
                                                <li>Sun: 12pm-2am</li>
                                            </ul> 
                                        </div>
                                    </div>
                                    <button class="btn btn-simple" onclick="rotateCard(this)">&lt; Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-xs-6">
                        <div class="card-container manual-flip">
                            <div class="card">
                                <div class="front">
                                    <a href="/library?name=shapiro">
                                        <img src="/static/Hatcher.png" width="100%">
                                    </a>
                                    <button class="btn btn-simple" onclick="rotateCard(this)">Hours &gt;</button>
                                </div>
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">Hatcher Graduate Library</h5>
                                    </div> 
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Library Hours:</h4>
                                            <ul>
                                                <li>Mon-Thurs: 8am-2am</li>
                                                <li>Fri: 8am-7pm</li>
                                                <li>Sat: 10am-6pm</li>
                                                <li>Sun: 1pm-2am</li>
                                            </ul>  
                                        </div>
                                    </div>
                                    <button class="btn btn-simple" onclick="rotateCard(this)">&lt; Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="card-container manual-flip">
                            <div class="card">
                                <div class="front">
                                    <a href="/library?name=shapiro">
                                        <img src="/static/LawLib.png" width="100%">
                                    </a>
                                    <button class="btn btn-simple" onclick="rotateCard(this)">Hours &gt;</button>
                                </div>
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">Law Library</h5>
                                    </div> 
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Library Hours:</h4>
                                            <ul>
                                                <li>8am-12am</li>
                                                <li>Reading room: 8am-8pm</li>
                                            </ul>  
                                        </div>
                                    </div>
                                    <button class="btn btn-simple" onclick="rotateCard(this)">&lt; Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        


    <script src="/static/bootstrap/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        
    <script type="text/javascript">
        $().ready(function(){
            $('[rel="tooltip"]').tooltip();
            
        });
        
        function rotateCard(btn){
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if($card.hasClass('hover')){
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46172202-4', 'auto');
      ga('send', 'pageview');

    </script>



    </body>


    <footer style="position:absolute; bottom:0">
            <!-- &copy; StudySpace -->
    </footer>
</html>
