<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>miStudySpace</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.symbol.min.js"></script>
        <script type="text/javascript" src="http://raw.github.com/markrcote/flot-axislabels/master/jquery.flot.axislabels.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
        <link rel="stylesheet" href="/static/global.css">
        <script src="static/jquery-circle-progress/dist/circle-progress.js"></script>
        <link rel="stylesheet" href="/static/library.css">
        <script rel="javascript" src ="static/js/library.js"></script>
    </head>
    
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/" style="float:left"> &lt; Back </a>
                    
                    <br>
                </div>
            </div>
        </div>
        <div class="container-fluid  ">
            <div class="row">
                <div class="col-xs-12  text-center" style="padding-bottom:20px">
                    <h1 class="title">{{ libraryName }}</h1><br>
                    
                    
                    <div class="library circle">
                        <strong></strong>
                    </div>

                    
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row slideContainer">
                <div class-"col-xs-12">
                    <h2 style="margin-bottom:0px">Floors</h2>
                    
                </div>
                {% for floorName, floorOccupancy in floorInfo %}
                <div class="slide text-center">
                    
                    <a style = "text-decoration:underline;" href="/floor?name={{ libraryName }}&floor={{ floorName }}" >
                        <div class="floor circle {{floorName}}">
                        <div id="container">
                            <strong id="strong-{{floorName}}"></strong>
                        </div>
                    </div>


                            <p style="padding-top:10px">{{ floorName }} </p>
                        </a>
                </div>
                
                <script>
                    
                    
                    $('.floor.circle.{{floorName}}').circleProgress({
                                               
                        value: {{floorOccupancy}}/100,
                          thickness: 10,
                          startAngle: 4.65,
                          size: 90,
                          fill: { color: "#e64c65" }
                          }).on('circle-animation-progress', function(event, progress, stepValue) {
                                //$(this).find('strong').text(String(stepValue.toFixed(2)).substr(1) + '%');
                                $(this).find('#strong-{{floorName}}').text(String({{floorOccupancy}} + '%'));
                                
                                });
                
                
                
               </script>
               {%endfor%}
            </div>
        </div>

                    <!--<button id="dayButton">Daily</button>
                    <button id="hourButton">Hourly</button>-->
                    <div class="container-fluid">
                        <div class="row averages">
                            <h2>Averages</h2>
                            <div class="col-xs-12">
                                <div class="dropdown">
                                    
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Monday ▼
                                        </button>
                                    <ul class="dropdown-menu">
                                        {% for number, name in labels %}
                                        
                                        <li><a value = "{{number}}" id="{{name}}">{{name}}</a></li>

                                        {% endfor %}
                                    </ul>
                                </div>
                   <!--<div id="carousel" class="carousel slide col-xs-12" style="width:100%"data-ride="carousel">
                        
                                <!--
                                

                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <p>Tuesday</p>
                                <div id="placeholder"></div>
                            </div>
                            <div class="item">
                                <p>Wednesday</p>
                                <div id="placeholder"></div>
                            </div>
                            <div class="item">
                                <p>Thursday</p>
                                <div id="placeholder"></div>
                            </div>
                            <div class="item">
                                <p>Friday</p>
                                <div id="placeholder"></div>
                            </div>
                            <div class="item">
                                <p>Saturday</p>
                                <div id="placeholder"></div>
                            </div>
                            <div class="item">
                                <p>Sunday</p>
                                <div id="placeholder"></div>
                            </div>
                            <div class="item">
                                <p>Monday</p>
                                <div id="placeholder"></div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        
                    </div>-->
                        
                    <div id="placeholder"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Library Info</h2><br>
                    <p>
                    Shapiro Undergraduate Library<br>
                    919 South University Avenue<br>
                    Ann Arbor, MI 48109-1185<br>
                    (734) 764-7058
                    </p>
                    
                    <br>
                    <p>
                    Hours:<br>
                    Sunday - Open 24 Hours<br>
                    Monday - Open 24 Hours<br>
                    Tuesday - Open 24 Hours<br>
                    Wednesday - Open 24 Hours <br>
                    Thursday - Open 24 Hours<br>
                    Friday - Open 24 Hours <br>
                    Saturday - Open 24 Hours<br>
                    </p>
                    
                    <p> More Information:<br>
                    <a href="http://www.lib.umich.edu/shapiro-undergraduate-library"> Shapiro Library Homepage </a>
                    </p>
                    
                </div>
            </div>
        </div>
        
        <script>
          
          
            $('.library.circle').circleProgress({
                                                value: '.{{libraryOccupancy}}',
                                              thickness: 10,
                                              startAngle: 4.65,
                                              size: 125,
                                              fill: { color: "#11A8AB" }
              }).on('circle-animation-progress', function(event, progress, stepValue) {
                    //$(this).find('strong').text(String(stepValue.toFixed(2)).substr(1) + '%');
                    $(this).find('strong').html(parseInt(100 * stepValue) + '%');
                    
                    });
                    
                    

                                                             
       
        
            </script>
        
        <script type="text/javascript">

            /* var d1 = [[2, 12],
             [4, 15],
             [6, 30],
             [8, 37],
             [10, 53]
             ];*/

            var d1 = {{ averageInfo|tojson|safe }};


            var data1 = [
                    {label: "Occupancy in %",  data: d1, points: { symbol: "circle", fillColor: "white" }, color: 'white'}
                         ];

            /*var d2 = {{ dayAverageInfo|tojson|safe }};
            console.log(d2);
            var data2 = [
                         {label: "Occupancy in %",  data: d2, points: { symbol: "circle", fillColor: "white" }, color: 'white'}
                         ];*/


{% for day in dayAverageInfo %}
        var day{{loop.index}} = {{ day|tojson|safe }};
        var data{{loop.index}} = [
                                  {label: "Occupancy in %",  data: day{{loop.index}}, points: { symbol: "circle", fillColor: "white" }, color: 'white'}
                                  ];
                                  
                                  
                                  {% endfor %}



            $(document).ready(function () {
                              var d = new Date();
                              var n = d.getDay();
                              var d = new Date();
                              var weekday = new Array(7);
                              weekday[7]=  "Sunday";
                              weekday[1] = "Monday";
                              weekday[2] = "Tuesday";
                              weekday[3] = "Wednesday";
                              weekday[4] = "Thursday";
                              weekday[5] = "Friday";
                              weekday[6] = "Saturday";
                              
                            
                              var dayName = weekday[d.getDay()];
                              
                              $(".btn:first-child").text(dayName +" ▼");
                              $(".btn:first-child").val(dayName +" ▼");
                              $.plot($("#placeholder"), data3, {
                                xaxis: {
                                     min: 0,
                                     max: 23,
                                     tickSize: 2,
                                     tickLength: 0,
                                     axisLabel: 'Time',
                                     axisLabelUseCanvas: true,
                                     axisLabelFontSizePixels: 12,
                                     axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                                     axisLabelPadding: 5
                                },
                                yaxis: {
                                     min: 0,
                                     max: 100,
                                     axisLabel: 'Percentage Full',
                                     axisLabelUseCanvas: true,
                                     axisLabelFontSizePixels: 12,
                                     axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                                     axisLabelPadding: 5
                                },
                                series: {
                                     lines: { show: true },
                                     points: {
                                        radius: 3,
                                        show: true,
                                        fill: true
                                     },
                                },
                                grid: {
                                     hoverable: true,
                                     borderWidth: 1
                                    }

            });


            $("#placeholder").bind("plothover", function (event, pos, item) {
              $("#tooltip").remove();
              if (item) {
              var tooltip = item.series.data[item.dataIndex][2];
              
              $('<div id="tooltip">' + tooltip + '</div>')
              .css({
                   position: 'absolute',
                   display: 'none',
                   top: item.pageY + 5,
                   left: item.pageX + 5,
                   border: '1px solid #fdd',
                   padding: '2px',
                   'background-color': '#fee',
                   opacity: 0.80 })
              .appendTo("body").fadeIn(200);
              
              
              showTooltip(item.pageX, item.pageY, tooltip);
              }
              });

            });


{% for number, name in labels %}
        

        
$("#{{name}}").click(function(){
                      $(".btn:first-child").text($(this).text()+" ▼");
                      $(".btn:first-child").val($(this).text()+" ▼");
                     $.plot($("#placeholder"), data{{number}}, {
       xaxis: {
       min: 0,
       max: 23,
       tickSize: 2,
       tickLength: 0,
       axisLabel: 'Time',
       axisLabelUseCanvas: true,
       axisLabelFontSizePixels: 12,
       axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
       axisLabelPadding: 5
       },
       yaxis: {
       min: 0,
       max: 100,
       axisLabel: 'Percentage Full',
       axisLabelUseCanvas: true,
       axisLabelFontSizePixels: 12,
       axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
       axisLabelPadding: 5
       },
       series: {
       lines: { show: true },
       points: {
       radius: 3,
       show: true,
       fill: true
       },
       },
       grid: {
       hoverable: true,
       borderWidth: 1
       }
       
       });
       
       
       $("#placeholder").bind("plothover", function (event, pos, item) {
                              $("#tooltip").remove();
                              if (item) {
                              var tooltip = item.series.data[item.dataIndex][2];
                              
                              $('<div id="tooltip">' + tooltip + '</div>')
                              .css({
                                   position: 'absolute',
                                   display: 'none',
                                   top: item.pageY + 5,
                                   left: item.pageX + 5,
                                   border: '1px solid #fdd',
                                   padding: '2px',
                                   'background-color': '#fee',
                                   opacity: 0.80 })
                              .appendTo("body").fadeIn(200);
                              
                              
                              showTooltip(item.pageX, item.pageY, tooltip);
                              }
                              });
                              
                              });
                              {% endfor %}
            </script>
        
        
        
    </body>
    
    
    <footer style="position:absolute; bottom:0">
        <!--  &copy; StudySpace-->
    </footer>
</html>
