<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>miStudySpace</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.symbol.min.js"></script>
        <script type="text/javascript" src="http://raw.github.com/markrcote/flot-axislabels/master/jquery.flot.axislabels.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/global.css">
        <link rel="stylesheet" href="/static/circle.css">
        <link rel="stylesheet" href="/static/library.css">
    </head>

    <body>
        <div class="container-fluid">    
            <div class="row">
                    <div class="col-xs-3">
                        <a href="index.html" style="float:left"> &lt; Back </a>
                    </div>
                    <div class="col-xs-6">
                        <h1 class="title">Shapiro</h1>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
            <div class="row">
                    <div class="c100 p{{ libraryOccupancy }} turquois center" >
                            <span>{{ libraryOccupancy }}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                </div>
            <div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                      <li data-target="#myCarousel" data-slide-to="4"></li>
                    </ol>
                <div class="carousel-inner" role="listbox">
                    {% for floorName, floorOccupancy in floorInfo %}
                    <div class="item">
                        <p>{{ floorName }} </p>
                        <div class="c100 p{{ floorOccupancy }} pink small center">
                            <span>{{ floorOccupancy }}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="row averages">
                <div class="col-xs-12">
                    <h2>Averages</h2>
                   <div id="placeholder"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Library Info</h2>
                    <p>
                    Shapiro Undergraduate Library<br>
                    919 South University Avenue<br>
                        Ann Arbor, MI 48109-1185<br>
                    (734) 764-7058
                    </p>
                    <p>
                    Hours:<br>
                    Monday-Sunday: Open 24 Hours<br>
                    </p>
                    <p> More Information:<br>
                    <a href="http://www.lib.umich.edu/shapiro-undergraduate-library"> Shapiro Library Homepage </a>
                    </p>
                </div>
            </div>
        </div>


    <script type="text/javascript">
    
       /* var d1 = [[2, 12],
              [4, 15],
              [6, 30],
              [8, 37],
              [10, 53]
            ];*/
          
        var d1 = {{ averageInfo|tojson|safe }};

        
        var data1 = [
            {label: "Occupancy in %",  data: d1, points: { symbol: "circle", fillColor: "white" }, color: 'white'}
        ];
                       
        $(document).ready(function () {
            $.plot($("#placeholder"), data1, {
                xaxis: {
                    min: 0,
                    max: 23,
                    tickSize: 2,
                    tickLength: 0,
                    axisLabel: 'Time',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5
                    },
                    yaxis: {
                    min: 0,
                    max: 100,
                    axisLabel: 'Percentage Full',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5
                },
                series: {
                    lines: { show: true },
                    points: {
                        radius: 3,
                        show: true,
                        fill: true
                    },
                },
                grid: {
                    hoverable: true,
                    borderWidth: 1
                }
                   
            });
                      
                          
            $("#placeholder").bind("plothover", function (event, pos, item) {
                $("#tooltip").remove();
                if (item) {
                    var tooltip = item.series.data[item.dataIndex][2];
                                   
                    $('<div id="tooltip">' + tooltip + '</div>')
                        .css({
                            position: 'absolute',
                            display: 'none',
                            top: item.pageY + 5,
                            left: item.pageX + 5,
                            border: '1px solid #fdd',
                            padding: '2px',
                            'background-color': '#fee',
                            opacity: 0.80 })
                        .appendTo("body").fadeIn(200);
                                                 
                                                 
                    showTooltip(item.pageX, item.pageY, tooltip);
                }
            });
                                         
        });
    </script>

        
        
    </body>


    <footer style="position:absolute; bottom:0">
          <!--  &copy; StudySpace-->
    </footer>
</html>
