<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>miStudySpace</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.symbol.min.js"></script>
        <script type="text/javascript" src="http://raw.github.com/markrcote/flot-axislabels/master/jquery.flot.axislabels.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
        <link rel="stylesheet" href="/static/global.css">
        <link rel="stylesheet" href="/static/circle.css">
        <link rel="stylesheet" href="/static/library.css">
    </head>

    <body>
        <!--<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">miStudySpace</a>
                </div>
            </div>
        </nav>-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <a style="float:left"> &lt; Back </a>

                    <br>
                </div>
            </div>
        </div>
        <div class="container-fluid  ">
            <div class="row">
                <div class="col-xs-12  text-center" style="padding-bottom:20px">
                    <h1 class="title">{{ libraryName }}</h1><br>
                    

                    <div class="c100 p{{ libraryOccupancy }} turquois center" >
                        <span>{{ libraryOccupancy }}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row slideContainer">
                <div class-"col-xs-12">
                    <h2 style="margin-bottom:0px">Floors</h2>
                </div>
                {% for floorName, floorOccupancy in floorInfo %}
                <div class="slide text-center">
                    <div class="c100 p{{ floorOccupancy }} pink small center">
                        <span>{{ floorOccupancy }}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                            
                        </div>
                        <hr style="height: 50px; visibility: hidden;"></hr>
                        <a href="/floor?name={{ libraryName }}&floor={{ floorName }}" >
                            <p style="padding-top:10px">{{ floorName }} </p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row averages">
                <div class="col-xs-12">
                    <h2>Averages</h2>
                   <div id="placeholder"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Library Info</h2><br>
                    <p>
                    Shapiro Undergraduate Library<br>
                    919 South University Avenue<br>
                        Ann Arbor, MI 48109-1185<br>
                    (734) 764-7058
                    </p>
                    
                    <br>
                    <p>
                    Hours:<br>
                    Sunday - Open 24 Hours<br>
                    Monday - Open 24 Hours<br>
                    Tuesday - Open 24 Hours<br>
                    Wednesday - Open 24 Hours <br>
                    Thursday - Open 24 Hours<br>
                    Friday - Open 24 Hours <br>
                    Saturday - Open 24 Hours<br>
                    </p>
                    
                    <p> More Information:<br>
                    <a href="http://www.lib.umich.edu/shapiro-undergraduate-library"> Shapiro Library Homepage </a>
                    </p>
                    
                </div>
            </div>
        </div>


    <script type="text/javascript">
    
       /* var d1 = [[2, 12],
              [4, 15],
              [6, 30],
              [8, 37],
              [10, 53]
            ];*/
          
        var d1 = {{ averageInfo|tojson|safe }};

        
        var data1 = [
            {label: "Occupancy in %",  data: d1, points: { symbol: "circle", fillColor: "white" }, color: 'white'}
        ];
                       
        $(document).ready(function () {
            $.plot($("#placeholder"), data1, {
                xaxis: {
                    min: 0,
                    max: 23,
                    tickSize: 2,
                    tickLength: 0,
                    axisLabel: 'Time',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5
                    },
                    yaxis: {
                    min: 0,
                    max: 100,
                    axisLabel: 'Percentage Full',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5
                },
                series: {
                    lines: { show: true },
                    points: {
                        radius: 3,
                        show: true,
                        fill: true
                    },
                },
                grid: {
                    hoverable: true,
                    borderWidth: 1
                }
                   
            });
                      
                          
            $("#placeholder").bind("plothover", function (event, pos, item) {
                $("#tooltip").remove();
                if (item) {
                    var tooltip = item.series.data[item.dataIndex][2];
                                   
                    $('<div id="tooltip">' + tooltip + '</div>')
                        .css({
                            position: 'absolute',
                            display: 'none',
                            top: item.pageY + 5,
                            left: item.pageX + 5,
                            border: '1px solid #fdd',
                            padding: '2px',
                            'background-color': '#fee',
                            opacity: 0.80 })
                        .appendTo("body").fadeIn(200);
                                                 
                                                 
                    showTooltip(item.pageX, item.pageY, tooltip);
                }
            });
                                         
        });
    </script>

        
        
    </body>


    <footer style="position:absolute; bottom:0">
          <!--  &copy; StudySpace-->
    </footer>
</html>
